*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mate SC', serif;
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgb(255, 255, 255);
    margin: auto;
    height: 100px;
}
.navbar{
    
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand{
    font-family: 'Pacifico', cursive;;
    color: rgb(0, 0, 0);
    font-size: 1.9rem;
    padding: 1rem 2rem;
}
.nav-links{

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-links a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.4rem 2rem;
}
.nav-links a:hover{
    border-radius: 3px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.title{
    text-align: center;
}
.profile-card{
    margin-top: 70px;
    margin-left: 150px;
    width: 350px;
    height: 435px;
    border: 2px solid black;
    margin-bottom: 150px;
}

.profile-image{
    width:100%;   
}
.profiles .text{
    text-align: center;
}
.profiles li{
    list-style: none;
    display: inline-block;
    padding: 12px 14px;
    border: 1px solid black;
    border-radius: 150px;
     margin: 0px 5px;
}
.profile-card a{
    text-decoration: none;
}
.profile-card ul a{
    color: black;
}
.profile-card .btn1 a{
    
    text-decoration: none;
}
.profile-card .btn1{
    background-color: black;
    color: white;
    padding: 7px 8px;
    margin-left: 35px;
}
.profile-card .btn1:hover{
    opacity: 0.8;
}
footer{
    background-color: rgba(245, 161, 253, 0.295);
    font-family: 'Mate SC', serif;
    text-align: center;
    margin: auto;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 600;
    
}
.navigation a,li{
    list-style: none;
    text-decoration: none;
}
footer a:hover{
   color: rgb(61, 6, 6);
}
footer ul{
    margin-top: 15px
}

ul a{
    color: black;
}
.social_icons li{
    display:inline-block;
    padding: 22px 25px;
    margin-top: 0;
    margin-left: 35px;
    margin-right: 35px;
    border: 1px solid black;
    border-radius: 125px;
}
.about-info{
    margin: 75px 175px;
}
ol{
    margin-left: 155px;
}

.drop-content{
    display: none;
    position: absolute ;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.drop-content a:hover {background-color: rgb(46, 45, 45);}
.drop:hover .drop-content{ display: block;}
.drop:hover .dropbtn {background-color: #ff0000;}


.insta-posts{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    margin: 0px 100px;
    margin-bottom: 250px;
}
.post{
    margin: 0px 50px ;
}
.profiles{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcome-container{
    background-image: url("../images/abstract\ gd.jpg");
    background-size: cover;
    color: white;
    font-size: x-large;
    text-align: center;    
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

}
