.intro{
    background-image: url('../images/monu2.jfif');
    background-size:cover;
    background-repeat: no-repeat;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-contain{
    font-size: 34px;
    width: 50%;
    text-align: center;
}
.con{
   display: grid;
   grid-template-areas: 'cot-2 cot-2 cot-3 cot-3'
                        'cot-2 cot-2 cot-3 cot-3';
   margin-top: 115px;



}

.content-2{
    grid-area: cot-2;
    text-align: center;
    padding: 194px;
    margin-top: 27px;


}
.content-3{
    grid-area: cot-3;

}
.achievements{
    width: 45%;
    text-align: center;
    padding: 100px 84px 69px 76px;
}


.connect{
    text-align: center;
    background-color: rgb(225, 230, 184);
    border-radius: 40px;
    /* margin-top: 435px; */
}
.connect_links{
    display: flex;
    justify-content: center;
    margin: 60px;
}
.post-container{
    height: 1660px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 100px;
    margin-left: 125px;
    grid-row-gap: 50px;
    grid-column-gap: 20px;
    justify-content: space-around;
}


.btt{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px 5px;
    margin-left: 20px;
    border-radius: 3px;
    margin-bottom: 15px;
}
.btt:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.445);
}