*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.welcome_container{
    background-image: url('../images/music-mic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;    
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.our_artist{
    height: 400px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 300px;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    
    
}
.our_artist >div{
    background-color: cornsilk;
    border-radius: 3px;
}

.music-title{
    font-family:'Pacifico', cursive;;
    color: white;
    font-size: 4rem;
    text-align: left;
}
.welcome_container>div>p{
    color: white;
    font-size: 2rem;
}
.heading{
    text-align: center;
    font-family: 'Pacifico',cursive;
    font-size: xx-large;
}