.welcome_container{
    background-color: chocolate;
    text-align: center;    
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.our_artist{
    height: 400px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 300px;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    background-color: cornflowerblue;
    margin-top: 50px;
}
.our_artist >div{
    background-color: cornsilk;
}